.container {
  display: flex;
  background-color: #fff;
  margin: 10px auto 20px auto;
  width: 80%;
  height: 100vh;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
}
.article {
  width: 100%;
  padding: 17px;
}
.header {
  width: 50%;
  display: flex;
}
.title {
  word-break: break-all;
  margin-right: 10px;
  font-weight: 400;
  line-height: 28px;
}
.favorites {
  display: flex;
}
.favorites i {
  padding-top: 3px;
  padding-right: 4px;
}
.tags {
  width: 50%;
  margin-bottom: 15px;
}
.tags button {
  margin-right: 3px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  background-color: #fff;
  font-weight: 400;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.text {
  word-break: break-all;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}
.avatar {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
}
.name {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
}
.date {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}
.editDel {
  display: flex;
  margin-left: 5px;
}
.btnEdit {
  height: 35px;
  margin-right: 10px;
}
.btnDelete {
  height: 35px;
}
